img {
  margin: 0px !important
}

.modal {
  display: block;
}

.modal-content {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.modal .modal-header {
  background-color: #000356;
  color: #fff;
}

.modal .modal-header .close {
  color: #fff;
}

.bg-login {
  background-color: #000356;
  min-height: 100vh;
  color: white;
}

.bg-admin .sidebar {
  background-color: #000356;
  min-height: 100vh;
  color: white;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.5);
}

.bg-admin .sidebar .menuItem {
  cursor: pointer;
}

.bg-admin .sidebar .menuItem i {
  font-size: larger;
  margin-right: 5px;
}

.bg-admin .sidebar .signoutLink {
  position: fixed;
  bottom: 20px;
}

@media (max-width: 768px) {
  .bg-admin .sidebar {
    min-height: inherit;
  }
  .bg-admin .sidebar .signoutLink {
    position: inherit;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.bg-admin .main {
  min-height: 90vh;
}

.bg-admin .adminHeader .headerInput {
  width: 150px;
  height: 25px;
  border: 0px;
  background-color: transparent;
}

.bg-admin .adminHeader .headerInput:focus {
  outline: none;
}

.bg-admin .customerTable {
  border: 1px solid #dee2e6;
  margin-bottom: 150px;
}

.bg-admin .customerTable table {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0px;
}

.bg-admin .customerTable table thead th {
  border-bottom: 0px;
}

.bg-admin .customerTable table tbody tr {
  cursor: pointer;
}

.bg-admin .customerTable table tbody tr td button {
  border-radius: 20px;
  min-width: 55px;
}

.bg-admin .customerTable .addClient {
  cursor: pointer;
}

.bg-admin .customerTable .pageControl i {
  font-size: 24px;
}

.bg-admin .form {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-admin .form .form-group input {
  background-color: #eee;
}

.bg-admin table thead tr .insuType {
  min-width: 150px !important;
}

.bg-admin table thead tr .insuAmount {
  min-width: 150px !important;
}

@media (min-width: 320px) {
  .bg-admin .form .peDates {
    -ms-flex: 0 0 47.9%;
    flex: 0 0 47.9%;
    max-width: 47.9%;
  }
  .bg-admin .form .col-sm-2 {
    -ms-flex: 0 0 4%;
    flex: 0 0 4%;
    max-width: 4%;
    padding: 0px;
    padding-top: 5px;
  }
}

/* CUSTOMER */

.bg-admin .clientShow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
}